body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

#header {
  height: 120px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid rgba(2, 186, 146, 1);
}
#logo {
  width: 400px;
  font-size: 30px;
  float: left;
  margin-top: 35px;
  border: 1px solid green;
}

#logo img {
  float: left;
  height: 60px;
  border: 1px solid blue;
  margin-top: -10px;
  margin-right: 10px;
  animation: latir 1s infinite linear alternate-reverse;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  60% {
    transform: scale(0.9, 0.9);
  }
  70% {
    transform: scale(1.1, 1.1);
  }
}

#brand {
  margin: 0px;
  float: left;
  border: 1px solid blue;
}

.center {
  width: 80%;
  margin: 0px auto;
}

#menu {
  width: 60%;
  float: right;
  font-size: 18px;
  border: 1px solid red;
}

#menu ul {
  line-height: 85px;
  width: 90%;
  float: right;
}

#menu ul li {
  list-style: none;
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}
#menu a:hover {
  text-decoration: none;
  color: rgba(2,186,146,1);
  transition: 300ms all;
}

.clear-fix {
  clear: both;
  float: none;
}

#slider {
  border: 1px solid orange;
  height: 350px;
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 5px#444;
  background: rgba(72, 226, 234, 1);
  background: rgba(2, 186, 146, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(2, 186, 146, 1) 0%,
    rgba(2, 186, 146, 1) 43%,
    rgba(76, 140, 133, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(2, 186, 146, 1)),
    color-stop(43%, rgba(2, 186, 146, 1)),
    color-stop(100%, rgba(76, 140, 133, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(2, 186, 146, 1) 0%,
    rgba(2, 186, 146, 1) 43%,
    rgba(76, 140, 133, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(2, 186, 146, 1) 0%,
    rgba(2, 186, 146, 1) 43%,
    rgba(76, 140, 133, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(2, 186, 146, 1) 0%,
    rgba(2, 186, 146, 1) 43%,
    rgba(76, 140, 133, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(2, 186, 146, 1) 0%,
    rgba(2, 186, 146, 1) 43%,
    rgba(76, 140, 133, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02ba92', endColorstr='#4c8c85', GradientType=1 );
}

#slider.slider-big h1 {
  margin: 1px;
  padding: 0px;
  text-align: center;
  padding-top: 130px;
}

.btn-white {
  color: #444;
  display: block;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 35px;
  box-shadow: 0px 0px 3px #444;
  margin-top: 40px;
  border-radius: 4px;
}
.btn-white:hover {
  background-color: #444;
  color: rgba(2,186,146,1);
  transition: 350ms all;
}

#slider.slider-small {
  height: 120px;
  padding-top: 70px;
}

.slider-small h1 {
  margin-top: 1px;
  padding: 0px;
}

#content {
  width: 70%;
  min-height: 650px;
  float: left;
  border: 1px solid greenyellow;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
  border: 1px solid green;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  border-bottom: 3px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;
}

.btn {
  border: none;
  display: block;
  max-width: 120px;
  background-color: black;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  transition: 300ms all;
  cursor: pointer;
}

.btn-success {
  background: rgb(0, 178, 21);
}

.btn-success:hover {
  background-color: black;
}

input[type="text"],
textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  padding: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}

.mid-form {
  width: 50%;
  margin: 0px auto;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  margin-top: 10px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0px 0px 3px #ccc inset;
  transition: 500ms all;
}

.radiobuttons {
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img {
  height: 100%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  border: 1px solid coral;
  color: rgb(111, 111, 111);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
  transition: 300ms all;
}

.article-item a:hover {
  text-decoration: underline;
  color: rgb(214, 3, 3);
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article-item-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.article-item-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-item-detail .subheader {
  margin-bottom: 5px;
  border: none;
  margin-top: 15px;
  margin-bottom: 0px;
}

/* Responsive */

@media (max-width: 1270px) {
  .center {
    width: 95%;
  }
  #logo {
    width: 350px;
    margin: 0px auto;
    margin-top: 15px;
  }

  #menu,
  #menu ul {
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
  }

  #content {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  #slider h1 {
    padding-top: 115px;
    font-size: 25px;
  }

  #slider.slider-small h1 {
    padding-top: 15px;
  }
}

@media (max-width: 495px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }

  #menu,
  #menu ul {
    line-height: 50px;
    margin-left: 7px;
    margin-right: 7px;
  }
  #slider {
    height: 180px;
  }
  #slider.slider-big h1 {
    font-size: 19px;
    padding-top: 30px;
    padding-left: 7px;
    padding-right: 7px;
  }
  #slider .btn-white {
    margin-top: 20px;
  }

  #slider.slider-small {
    height: 100px;
  }
  #slider.slider-small h1 {
    padding-top: 15px;
  }

  #sidebar {
    width: 95%;
  }
}
